version: "3.9"

services:
  # backend:
  #   build: ./backend
  #   container_name: ai-backend
  #   ports:
  #     - "8000:8000"
  #   volumes:
  #     - ./backend:/app
  #   env_file:
  #     - ./backend/.env
  #   environment:
  #     DB_HOST: host.docker.internal
  #     DB_PORT: 5432
  #     DB_NAME: printai
  #     DB_USER: postgres
  #     DB_PASSWORD: phemon420

  n8n:
    image: n8nio/n8n:latest
    container_name: ai-n8n
    ports:
      - "8002:5678"
    environment:
      N8N_BASIC_AUTH_ACTIVE: "true"
      N8N_BASIC_AUTH_USER: admin
      N8N_BASIC_AUTH_PASSWORD: admin123
      N8N_PROTOCOL: http
      WEBHOOK_URL: https://taking-lcd-phoenix-optional.trycloudflare.com/
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: host.docker.internal
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: n8n
      DB_POSTGRESDB_USER: postgres
      DB_POSTGRESDB_PASSWORD: phemon420
    volumes:
      - ./n8n/data:/home/node/.n8n
      - ./n8n/files:/files
    restart: unless-stopped
